.Menu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 60px;
  background-color: rgb(0, 0, 0); 

}

.MenuImg{
  display: block;
  width: 200px;
  height: auto;
}

.MenuImg:hover{
  cursor: pointer;
  transition: all 200ms ease-in-out;

}